%section#photos
  .container
    %h2 Experience
    = render "photos/meta"
    .card-columns
      -@photos.each do |photo|
        = render "photos/card", photo: photo



    .text-center
      = link_to photos_path, class: "btn btn-primary" do
        = "See more"
