%section#photos
  .container-fluid
    %h2 Experience
    = render "photos/meta"
    .card-columns
      -@photos.each do |photo|
        = render "photos/card", photo: photo



    .text-center.mt-5
      = link_to photos_path, class: "btn btn-lg text-dark btn-link" do
        = "See more"
