= render "about"
= render "photos"
= render "contact"

-#.backtotop-container
  -#= link_to "#hero", "data-turbolinks": "false", class: "page-scroll nav-link px-2" do
    -##backtotop
      -#= fa_icon "angle-up"

