.container-fluid.my-3
  %h2 My Work

  = render "photos/meta"
.card-columns.container-fluid
  -@photos.each do |photo|
    = render "photos/card", photo: photo
    -#.row
      -#- photo.children.each do |cphoto|
        -#= render "photos/card", photo: cphoto
