.container.my-3
  %h2 Portfolio

  = render "photos/meta"
.card-columns.container.position--relative.z-index-0
  - if @photos.any?
    -@photos.each do |photo|
      = render "photos/card", photo: photo
      -#.row
        -#- photo.children.each do |cphoto|
          -#= render "photos/card", photo: cphoto
